{% extends 'goalist.html' %}
{% block title %}Lista: {{list.nombre}}{% endblock %}
{% block content %}
	{% if list.imagen_head %}
		<p><img src="/media/{{list.imagen_head}}" alt="Imagen de Cabecera." /></p>
	{% endif %}
	<h3>{{list.nombre}}</h3>
	<p>{{ list.tiempo_registro|date:"l, j F Y" }}</p>
	<p>Contenido:</p>
	<ul>
		{% if goal.count > 0 %}
			{% for elemento in goal %}
			  <li><strong>{{elemento.nombre}}</strong></li>
			{% endfor %}
		{% else %}
			<p>Lista vacia.</p>
		{% endif %}
	</ul>
{% endblock content %}
{% block aside %}
	<h5>¿Quien creo esta lista?</h5>
	<p class="centrar"><img src="/media/{{usuario.avatar}}" alt="Avatar" title="{{list.username}}" class="imagen" /></p>
	<h4><a href="/{{list.usuario}}">{{list.usuario}}</a></h4>
	<p>{{usuario.bio}}</p>
{% endblock aside %}