{% extends 'goalist.html' %}
{% block title %}Lista: {{list.nombre}}{% endblock %}
{% block content %}
	{% if list.imagen_head %}
		<p><img src="{{list.imagen_head.url}}" alt="Imagen de Cabecera." /></p>
	{% endif %}
	<h3>{{list.nombre}}</h3>
	<p>{{ list.tiempo_registro|date:"l, j F Y" }}</p>
	<p>Contenido:</p>
	<ul>
		{% if list.goals.all.count > 0 %}
			{% for elemento in list.goals.all %}
			  <li><strong><a href="/goal/{{elemento.id}}">{{elemento.nombre}}</a></strong></li>
			{% endfor %}
		{% else %}
			<p>Lista vacia.</p>
		{% endif %}
	</ul>
{% endblock content %}
{% block aside %}
	<h5>¿Quien creo esta lista?</h5>
	{% load thumbnail %}
	{% thumbnail usuario.avatar.url "200x200" crop="center" as im %}
		<p class="centrar"><a href="/{{usuario.user}}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Avatar" title="{{usuario.user}}" class="imagen" /></a></p>
	{% endthumbnail %}
	<h4><a href="/{{usuario.user}}">{{usuario.user}}</a></h4>
	<p>{{usuario.bio}}</p>
{% endblock aside %}