{% extends 'skeleton.html' %}
{% block title %}Buacando: {{keyword}}{% endblock %}
{% block content %}
	{% if goals.count > 0 %}
		<h4>Busqueda para '{{keyword}}':</h4>
		{% for elemento in goals %}
		  <p><strong><a href="{% url goal elemento.id %}">{{elemento.nombre}}</a></strong></p>
		{% endfor %}
	{% else %}
		<p>No se encontro nada que coinsida con: '{{keyword}}'.</p>
	{% endif %}
{% endblock content %}
{% block usuarios %}
	<h4>Usuarios relacionados:</h4>
	{% if usuarios.count > 0 %}
		{% for elemento in usuarios %}
			{% load thumbnail %}
			{% thumbnail elemento.avatar.url "50x50" crop="center" as im %}
				<a href="/{{elemento.user}}" class="tooltip"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="follow_avatar" /><span class="classic"><strong>{{elemento.user}}:</strong> {{elemento.bio}}</span></a>
			{% endthumbnail %}
		{% endfor %}
	{% else %}
		<p>No se encontraron usuarios que tengan una Goal parecida a '{{keyword}}'.</p>
	{% endif %}
{% endblock usuarios %}