{% extends 'goalist.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
	<img src="/media/{{user_data.avatar}}" id="avatar" alt="Avatar" title="{{user.username}}" />
	<h3>{{user.username}}</h3>
	<p>{{user.email}}</p>
	<p>{{user_data.bio}}</p>
	<p><a href="{{user_data.website}}">{{user_data.website}}</a> | {{user_data.ubicacion}}</p>
	<div class="clearfix"></div>
{% endblock content %}
{% block after %}
	<div class="eight columns justificar">
		<h3>Listas:</h3>
		<ul>
			{% if listas.count > 0 %}
				{% for elemento in listas %}
				  <li><strong><a href="/lista/{{elemento.id}}">{{elemento.nombre}}</a></strong> | {{ elemento.tiempo_registro|date:"l, j F Y" }}</li>
				{% endfor %}
			{% else %}
				<p>Lista vacia.</p>
			{% endif %}
		</ul>
	</div>
	<hr />
{% endblock after %}
{% block aside %}
	<h4>Folowers:</h4>
	<p>No hay followers.</p>
{% endblock aside %}